<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Snoop Translate</title>
</head>
<body>
    <div class='container'>
        <h1>Snoop Translate</h1>

        <form action='/translated'>
            <div class='form-group'>
                <label for='input'>Translate this:</input>
                <input id='input' name='input' type='text'>
            </div>
            <button type='submit' class='btn-primary'>Submit</button>
        </form>
    </div>
</body>
</html>
